@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, dialog {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root{
  --font-family: "Roboto";

  --light-gray: hsl(0 0 50);
  --submit-btns: hsl(150, 62%, 52%);

  --shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);

    scrollbar-color: hsl(from var(--text-color) h s calc(l + 5)) var(--sidebar-background);
    scrollbar-gutter: stable;
}

:root.light{
  --sidebar-background: hsl(48, 48%, 94%);
  --main-background: hsl(43 89 96);
  --text-color: hsl(0, 0%, 15%);
  --shadow-color: 40deg 29% 60%;
  --light-gray: hsl(0 0 50);
  --submit-btns: hsl(150, 62%, 72%);


}

:root.dark{
  --sidebar-background: hsl(300 5 20);
  --main-background: hsl(270 10 10);
  --text-color: hsl(0 0 80);
  --shadow-color: 0deg 0% 5%;
  --light-gray: hsl(0 0 70);
  --submit-btns: hsl(150, 62%, 37%);


}

button,
input,
textarea,
select{
  transition: background-color 0.4s;
  background-color: hsl(from var(--main-background) h s calc(l + 10));
}

button,
input,
textarea,
select,
dialog{
  border: none;
  outline: none;
}

button{
  background-color: inherit;
  cursor: pointer;
}

ul{
  padding: 0 10px;
}

li{
  list-style:none;
}


body{
  height: 100vh;

  display: flex;

  font-family: var(--font-family);
  color: var(--text-color);

  background-color: var(--main-background);
}

/* switching modes btn */
#mode{
  position: fixed;
  right: 15px;
  top: 15px;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;

  box-shadow: var(--shadow);
  background-color: hsl(from var(--main-background) h s calc(l - 10));
  z-index: 3;
}

#mode > img{
  width: 100%;
  height: 100%;
}


/* Sidebar */
#sidebar{
  overflow-x: hidden; /* so content inside of sidebar don't overflow when sidebar is closed */
  overflow-y: hidden;
  position: fixed;
  width: 320px;
  height: 100vh;

  background-color: var(--sidebar-background);

  display: grid;
  grid-auto-rows: max-content;
  
  gap: 2rem;
  padding: 1rem;
  
  box-shadow: var(--shadow);

  transition: all 0.4s;

}

#sidebar-toggling-btn{
  position: fixed;
  z-index: 3;
  left: 270px;
  top: 20px;

  text-align: center;
  padding: 6px;
  border-radius: 1rem;

  background-color: transparent;

  transition: all 0.4s;
}
 
#sidebar-toggling-btn{
  fill:var(--text-color);
  width: 37px;
  height: 37px;
  rotate: 90deg;
}

/* sidebar closing/opening transition */
#sidebar.sidebar-close{
  width: 0;
  padding: 0;
}

#sidebar-toggling-btn.sidebar-close{
  left: 15px;
  rotate: 270deg;
}


#sidebar .user{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;

  font-weight: 500;
  background-color: var(--sidebar-background);
}

#sidebar #sidebar-add-task-btn{
  border-radius: 12px;
  padding: 8px 10px;
  
  font-weight: 600;
  box-shadow: var(--shadow);
  color: hsl(from var(--text-color) h s calc(l + 10));
}

#sidebar-add-task-btn span{
  display: inline-block;
  width: 27px;
  height: 27px;

  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;

  background-color: var(--submit-btns);
  color: hsl(120, 100%, 22%);
}

#sidebar button.selected-project{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 10));  
  font-weight: bold;
}

#sidebar #projects-list{
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  overflow-y: auto;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#project-page{
  margin-left: 320px;
  transition: margin-left 0.4s;
}

#project-page.sidebar-close{
  margin-left: 50px;
}


#project-container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-container-header .title{
  color: var(--light-gray);
  font-weight: 600;
}

#project-container{
  position: relative;

  display: grid;
  gap: 1rem;
}

.disable{
  pointer-events: none;
}

.project-list-btn::before{
  content: "#";
  font-size: 1.2rem;
  margin-right: 8px;
  color: var(--light-gray);
}

#sidebar .project-list-btn{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.82rem;
}

.project-title{
  word-break: break-all; /* If the user inputs a long word */

  /* Limiting text lines */
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#sidebar button,
#project-container .project-list-btn,
.add-subtask-btn,
.subtask-submit,
.subtask-cancel{
  background-color: transparent;
  border-radius: 16px;
  padding: 5px 16px;

  cursor: pointer;
  transition: background-color 0.4s;
}

#sidebar-add-project-btn,
.add-subtask-btn,
.subtask-submit{
  color: hsl(120, 100%, 40%);
  font-size: 1.1rem;
}

#sidebar .project-remove-btn,
.subtask-cancel{
  margin-left: auto;
  padding: 5px 8px;
}

.project-remove-btn img{
  min-width: 17px;
  min-height: 20px;
}

.hover:hover,
#project-container .project-list-btn:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 10));  
}

#sidebar button:hover,
#sidebar-toggling-btn:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 20));  
}


/* Dialog */
dialog{
  width: 700px;
  height: 700px;

  border-radius: 6px;

  box-shadow: var(--shadow);
  background-color: var(--main-background);
}

select{
  cursor: pointer;
}

dialog input,
dialog select, 
dialog button{
  box-shadow: var(--shadow);
}


dialog form{
  height: 100%;

  display: flex;
  flex-direction: column;
  
  gap: 2.5rem;
  padding: 1.5rem;
}

.form-element{
  position: relative;
}

input,
select{
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
}

input[name="project-title"]{
  padding: 1rem;
  font-size: 28px;
}

div:has(input[name="project-title"]){
  max-height: 75px;
}

input[name="project-description"]{
  padding: 1rem;
  font-size: 17px;
}

.char-counter{
  position: absolute;
  font-weight: 500;
  font-size: 0.6rem;
  color: var(--light-gray);
}

#project-page .char-counter{
  background-color: var(--main-background);
}

input + .char-counter{
  bottom: 0;
  right: 10px;
}

input:hover,
input:focus:not(#project-page input),
select:hover,
select:focus{
  background-color: hsl(from var(--main-background) h s calc(l - 5));
}

input:user-invalid{
  background-color: hsl(0, 100%, 90%);
}

form > div:has(button){ /* form buttons */
  align-self: flex-end;
  margin-top: auto;
}

dialog form button{
  height: 50px;
  width: 120px;

  margin-left: 8px; 

  font-size: 1.1rem;
  font-weight: 500;
  background-color: transparent;
  box-shadow: var(--shadow);
  border-radius: 8px;

  transition:all 0.4s;
}

form button[id*='submit']{
  background-color: var(--submit-btns)
}

form button[id*='submit']:disabled{
  background-color: hsl(from var(--light-gray) h s calc(l - 10));
  cursor: not-allowed;
}

dialog button[command="close"]:hover{
  background-color: hsl(from var(--main-background) h s calc(l + 10));
}

label{
  margin-left: 5px;
}

label:has(+ *:required)::after{
  content: "*";
  color: red;
  margin-left: 2px;
}

*:required{
  font-weight: 600;
}

select{
  background-color: transparent;
}

/* Main content */
#project-page{
  flex-grow: 1;

  display: flex;
  justify-content: center;
}

.wrapper{
  flex-grow: 1;
  
  min-height: max-content;
  max-width: 1110px;
    
  padding: 2rem;

}

div:has(> #project-page-title){
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: var(--main-background);
}

#project-page-title{
  font-weight: 500;
  font-size: 1.8rem;

  background-color: transparent;
}

#project-page-description{
  height: max-content;
  font-size: 1.1rem;
  color: hsl(from var(--light-gray) h s calc(l - 20));

  background-color: transparent;
}

div:has(#project-page-description){
  text-overflow: ellipsis;
}

.note{
  position:absolute;
  top: 6px;
  right: 1rem;

  font-size: 0.7rem;
  color: var(--light-gray);
}

#project-page-add-task-btn{
  width: 100%;
  height: 80px;
  border-radius: 1rem;
  font-size: 40px; 
  background-color: var(--main-background);
  box-shadow: var(--shadow);
  margin: 1rem 0;
}

.task-card,
.subtask-form > form{
  height: 77px;

  position: relative;

  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
  align-content: start;
  column-gap: 1.5rem;
  row-gap: 14px;
  
  padding: 10px 8px;
  border-radius: 8px;
  border: 1px solid;
  
  box-shadow: var(--shadow);

  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer;
}

.task-displayed-title{
  font-size: 20px;
}


.task-card:hover,
#project-page-add-task-btn:hover{
  background-color: hsl(from var(--main-background) h s calc(l - 3));
}

.task-card > .task-check-btn{
  position: relative;
  transition: none; /* the task itself won't have any transition effects */
}

.task-card > .task-check-btn::after{ /* the vertical line between check mark circle and task title */
  content: "";
  height: 400px;
  width: 1px;

  position: absolute;
  right: -10px;
  top: -10px;
    
  background-color: hsl(from var(--light-gray) h s calc(l + 35));
}

.task-card > .task-check-btn::before{ /* the check mark circle */
  content: "";

  width: 17px;
  height: 17px;

  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-image: url(./assets/check.svg);
  opacity: 0;
  transition: all 0.3s;
}


.task-card:has(> .task-check-btn.checked){
  background-color: hsl(from var(--sidebar-background) h s calc(l - 8));
  text-decoration: line-through;
  opacity: 0.9;
  color: var(--light-gray);
}

.task-card > .task-check-btn:not(.checked):hover::before{
  opacity: 1;
  top: 11px;
  right: 15.5px;
}

.subtask-card > .task-check-btn:not(.checked):hover::before{
  opacity: 1;
  top: 10px;
  right: 5px;
}

.task-card > .task-check-btn.checked::before{
  opacity: 1;
  top: 11px;
  right: 15.5px;
}

.subtask-card > .task-check-btn.checked::before{
  opacity: 1;
  top: 10px;
  right: 5px;
}

.task-del-btn{
  padding: 6px;
  border-radius: 50%;
  opacity: 0.9;
}

.task-del-btn > img{
  width: 20px;
  height: 20px;
}

.task-del-btn:hover,
.add-subtask-btn:hover,
.subtask-submit:hover,
.subtask-cancel:hover{
  background-color: hsl(from var(--light-gray) h s calc(l + 28));
}

.task-expand-btn{
  padding: 4px;
  position: absolute;
  right: 8px;
  bottom: 0;
  background-color: transparent;
  z-index: 3;
}

.task-card.expanded > .task-expand-btn{
  rotate: 180deg;
}

#cards-container{
  display: grid;
  grid-auto-rows: max-content;
  gap: 1rem;
}

.task-card.expanded {
  height:390px;
  position: relative;
}

.urgent{
  border-color: hsl(0, 100%, 40%);
  font-weight: 700;
}

.important{
  border-color: hsl(19, 100%, 50%);
  font-weight: 600;

}

.less-important{
  border-color: hsl(55, 100%, 45%);
  font-weight: 500;
}

.not-important{
  border-color: hsl(120, 100%,50%);
  font-weight: 500;
}


ul.subtasks-list{
  grid-column: span 4;
  border-color: inherit;
  width: max-content;

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 0 40px;
  cursor: default;

}

.subtasks-list li{
  border-color: inherit;
  position: relative;
  margin-left: 1rem;

}
.subtasks-list li::before{
  content: '';
  position: absolute;
  top: 18px;
  width: 16px;
  height: 1px;
  background-color: hsl(from var(--light-gray) h s calc(l + 20));
}

.subtasks-list li div:has(.add-subtask-btn){
  padding-left: 1rem;
  margin-top: 2px;
}

.subtask-card{
  height: 40px;
  width: 350px;

  display: flex;

  padding: 3px 10px;
  margin-left: 1rem;

  border-color: inherit;
}

.subtask-card .subtask-title{
  font-size: 14px;
  padding: 4px;

  background-color: transparent;
  font-weight: inherit;
}

.subtask-card .task-check-btn img{
  width: 32px;
  height: 32px;
}

.subtask-card .task-del-btn{
  margin-left: auto;
}

.subtask-card .task-del-btn img{
  width: 22px;
  height: 17px;
}

.subtask-card button{
  padding: 2px;
}

.subtask-form > form{
  height: 35px;
  width: 350px;
  padding: 1px 12px 1px 10px;
  margin-left: 1rem;
  border-color: inherit;

  grid-template-columns: 1fr max-content;
  gap: 2px;
  align-items: center;
  align-content: center;
  grid-template-areas:
  "input btns";
}

.subtask-form .subtask-title{
  grid-area: input;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 2px;
}

#project-page .subtask-title + .char-counter{
  bottom: 0;
  right: 70px;
  background-color: transparent;
  font-size: 0.6rem;
}

.subtask-form .subtask-btns{
  grid-area: btns;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}


.subtask-cancel img{
  height: 17px;
  width: 15px;
}
.subtask-cancel,
.subtask-submit{
  padding: 3px;
}

.subtask-submit{
  padding: 0 6px;
}

.task-card.expanded .description-container{
  position: absolute;
  bottom: 0;

  height: 40px;
  width: 100%;
  
  padding: 8px;

  font-size: 0.8rem;
  text-align: center;
  color: var(--light-gray);
  background-color: hsl(from var(--main-background) h s calc(l - 5));
}