@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* My reset */
button{
  border: none;
  outline: none;
  cursor: pointer;
}
ul{
  padding: 0 10px;
}

li{
  list-style:none;
}

li::before{
  content: "#";
  font-size: 1.2rem;
  margin-right: 8px;
  color: var(--light-gray);
}


:root{
  --sidebar-background: hsl(0, 0%, 97%);
  --main-background: hsl(0 0 99);
  --text-color: hsl(0 0 15);
  --font-family: "Roboto";

  --light-gray: hsl(0 0 45);

  --shadow-color: 0deg 0% 79%;
  --shadow-elevation-low:
    0.5px 0.5px 1.1px hsl(var(--shadow-color) / 0),
    0.8px 0.8px 1.7px hsl(var(--shadow-color) / 0.11),
    1.6px 1.5px 3.3px hsl(var(--shadow-color) / 0.22);
}

body{
  height: 100vh;

  display: grid;
  grid-template-columns: 2fr 11fr;

  font-family: var(--font-family);
  color: var(--text-color);
}

/* Sidebar */
#sidebar{
  background-color: var(--sidebar-background);

  display: grid;
  grid-auto-rows: max-content;
  gap: 2rem;

  padding: 1rem;

  box-shadow: var(--shadow-elevation-low);
}

#sidebar .user{
  display: flex;
  grid-auto-flow: column;
  grid-auto-columns: max-content; 
  align-items: center; /* flexbox's aligning is slightly off in this case */
  gap: 1rem;

  font-weight: 500;
}

#project-container-header{
  display: flex;
  justify-content: space-between;
}

#project-container-header .title{
  color: var(--light-gray);
  font-weight: 600;
}

#add-project-btn{
  background-color: transparent;
}

.hover,
#sidebar button,
#project-container li{
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 16px;
  padding: 5px 16px;
}

#sidebar button{
  padding: 0 12px;
}

.hover:hover,
#project-container li:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 10));  
}

#sidebar button:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 20));  
}

/* Main content */