@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, dialog {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root{
  --sidebar-background: hsl(0, 0%, 98%);
  --main-background: hsl(0 0 99);
  --text-color: hsl(0 0 15);
  --font-family: "Roboto";

  --light-gray: hsl(0 0 50);

  --shadow-color: 0deg 0% 79%;
  --shadow-elevation-low:
    0.5px 0.5px 1.1px hsl(var(--shadow-color) / 0),
    0.8px 0.8px 1.7px hsl(var(--shadow-color) / 0.11),
    1.6px 1.5px 3.3px hsl(var(--shadow-color) / 0.22);
}

button,
input,
textarea,
select{
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.4s;
}

button{
  background-color: inherit;
}

textarea{
  resize: none;
}

ul{
  padding: 0 10px;
}

li{
  list-style:none;
}

body{
  height: 100vh;

  display: flex;
  

  font-family: var(--font-family);
  color: var(--text-color);
}

/* Sidebar */
#sidebar{
  overflow: hidden; /* so content inside of sidebar doesn't overflow when sidebar is closed */
  width: 300px;

  background-color: var(--sidebar-background);

  display: grid;
  grid-auto-rows: max-content;
  
  gap: 2rem;
  padding: 1rem;
  
  box-shadow: var(--shadow-elevation-low);

  transition: width 0.4s, padding 0.4s;

}

#sidebar #sidebar-toggling-btn{
  position: absolute;
  left: 250px;
  top: 20px;

  text-align: center;
  padding: 6px;
}

/* sidebar closing/opening transition */
#sidebar.sidebar-close{
  width: 0;
  padding: 0;
}

#sidebar #sidebar-toggling-btn.sidebar-close{
  left: 15px;
}


#sidebar .user{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;

  margin-left: -0.4rem;

  font-weight: 500;
  white-space: pre;
}

#project-container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-container-header .title{
  color: var(--light-gray);
  font-weight: 600;
}

#project-container{
  position: relative;

  display: grid;
  gap: 2rem;
}

#projects-counter{
  position: absolute;
  top: 50px; 
  right: 15px;

  font-size: 0.9rem;
}

.low{
  color: green;
}

.mid{
  color: hsl(39, 100%, 40%);
}

.max{
  color: red;
}

.disable{
  pointer-events: none;
}

.list-items-container::before{
  content: "#";
  font-size: 1.2rem;
  margin-right: 8px;
  color: var(--light-gray);
}

#sidebar .list-items-container{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title{
  word-break: break-all; /* If the user inputs a long word */

  /* Limiting text lines */
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover,
#sidebar button,
#project-container .list-items-container{
  background-color: transparent;
  border-radius: 16px;
  padding: 5px 16px;

  cursor: pointer;
  transition: all 0.4s;
}

#sidebar #project-dialog-show-btn{
  padding: 1px 12px;
  font-size: 1.3rem;
  color: hsl(120, 100%, 30%);
}

#sidebar .project-remove-btn{
  margin-left: auto;
  padding: 5px 8px;
}

.project-remove-btn img{
  min-width: 17px;
  min-height: 20px;
}

.hover:hover,
#project-container .list-items-container:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 10));  
}

#sidebar button:hover{
  background-color: hsl(from var(--sidebar-background) h s calc(l - 20));  
}


/* Dialog */
dialog{
  width: 700px;
  height: 700px;

  border: none;
  border-radius: 6px;

  box-shadow: var(--shadow-elevation-low);
}

dialog input,
dialog select, 
dialog button{
  box-shadow: var(--shadow-elevation-low);
}

dialog form{
  height: 100%;

  display: flex;
  flex-direction: column;
  
  gap: 3rem;
  padding: 1.5rem;
}

.form-element{
  position: relative;
}

input,
textarea,
select{
  width: 100%;
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
}

input[name="project-title"]{
  padding: 1rem;
  font-size: 36px;
}

textarea[name="project-description"]{
  padding: 1rem;
  font-size: 22px;
}

.char-counter{
  position: absolute;
  font-weight: 500;
  color: var(--light-gray);
}

input + .char-counter{
  bottom: 8px;
  right: 18px;
}

textarea + .char-counter{
  bottom: 18px;
  right: 18px;
}

input:hover,
textarea:hover,
input:focus:not(#main input),
textarea:focus:not(#main textarea),
select:hover,
select:focus{
  background-color: hsl(from var(--main-background) h s calc(l - 5));
}

input:user-invalid,
textarea:user-invalid{
  background-color: hsl(0, 100%, 90%);
}

form > div:has(button){ /* form buttons */
  align-self: flex-end;
  margin-top: auto;
}

form button{
  height: 50px;
  width: 120px;

  margin-left: 8px; 

  font-size: 1.1rem;
  font-weight: 500;
  background-color: transparent;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 8px;

  transition:all 0.4s;
}

form button[id*='submit']{
  background-color:hsl(120, 100%, 60%);;
}

form button[id*='submit']:disabled{
  background-color: hsl(from var(--light-gray) h s calc(l + 10));
  cursor: not-allowed;
}

dialog button[command="close"]:hover{
  background-color: hsl(from var(--light-gray) h s calc(l + 30));
}

label{
  margin-left: 5px;
}

label:has(+ *:required)::after{
  content: "*";
  color: red;
  margin-left: 2px;
}

*:required{
  font-weight: 600;
}

select{
  background-color: transparent;
}

/* Main content */
#main{
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  flex-grow: 1;

  min-height: 100%;
  max-width: 1100px;

  display: grid;
  grid-auto-rows: max-content;

  padding: 2rem;
  gap: 0.4rem;
}

#project-page-title{
  font-weight: 500;
}

#project-page-description{
  font-size: 1.1rem;
  color: hsl(from var(--light-gray) h s calc(l - 10));
}

.note{
  position:absolute;
  top: 6px;
  right: 1rem;

  font-size: 0.7rem;
  color: var(--light-gray);
}

#task-add-btn{
  width: 100%;
  height: 80px;
  border-radius: 1rem;
  font-size: 40px; 
  background-color: transparent;
  box-shadow: var(--shadow-elevation-low);
  margin: 1rem 0;
}

#task-add-btn:hover{
  margin: 0.7rem 0;
  background-color: hsl(from var(--light-gray) h s calc(l + 40));
}

#task-card{
  position: relative;

  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
  gap: 1.5rem;
  
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 8px;

  box-shadow: var(--shadow-elevation-low);

  transition: all 0.4s;
  cursor: pointer;
}

.task-title{
  font-size: 20px;
  font-weight: 500;
}

.task-due-date{
  font-weight: 500;
}

#task-card:hover{
  background-color: hsl(from var(--light-gray) h s calc(l + 47));
}

#task-card > .task-check-btn{
  position: relative;
}

#task-card > .task-check-btn::after{ /* the vertical line between check mark circle and task title */
  content: "";
  height: calc(100% + 1.5rem);
  width: 1px;

  position: absolute;
  right: -10px;
  bottom: -12px;
    
  background-color: hsl(from var(--light-gray) h s calc(l + 35));
}

#task-card > .task-check-btn::before{ /* the check mark circle */
  content: "";

  width: 17px;
  height: 17px;

  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-image: url(./assets/check.svg);
  opacity: 0;
  transition: all 0.3s;
}


#task-card:has(> .task-check-btn.checked){
  background-color: hsl(from var(--light-gray) h s calc(l + 37));
  text-decoration: line-through;
  opacity: 0.9;
  color: var(--light-gray);
}

#task-card > .task-check-btn:not(.checked):hover::before{
  opacity: 1;
  top: 11px;
  right: 15.5px;
}

#task-card > .task-check-btn.checked::before{
  opacity: 1;
  top: 11px;
  right: 15.5px;
}

.task-del-btn{
  padding: 6px;
  border-radius: 50%;
  opacity: 0.9;
}

.task-del-btn > img{
  width: 20px;
  height: 20px;
}

.task-del-btn:hover{
  background-color: hsl(from var(--light-gray) h s calc(l + 32));
}

.task-expand-btn{
  padding: 4px;
  position: absolute;
  right: 4px;
  top: 1px;
}
